#calc-container {
    width: 300px;
    height: 450px;
    border: solid 2px black;
}
#upper-part-container{
    width: 300px;
    height: 100px;
    border: solid 2px black;
}
#buttons-container{
    max-width: 300px;
    max-width: 350px;
    border: solid 2px black;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    gap: 8px;
    justify-content: space-between;
    
}
.calc-button {
    width: 50px;
    height: 40px;
    border: solid 2px black;
    border-radius: 4px;
}

.calc-button.equal{
    width: 127px;
    color: rgb(23, 163, 23);
}

.rest, .divition, .multiply, .minus, .sum{
    color: red;
}