#calc-container {
    width: 300px;
    height: 450px;
}
#upper-part-container{
    width: 300px;
    height: 100px;
    background-color: rgb(105, 24, 24);
    display: block;
}
#buttons-container{
    max-width: 300px;
    max-width: 350px;
    display: flex;
    flex-wrap: wrap;
    padding: 8px;
    gap: 8px;
    justify-content: space-between;
    background-color: rgb(52, 157, 52);
}
.calc-button {
    width: 55px;
    height: 40px;
    border: solid 2px black;
    border-radius: 4px;
}

.calc-button.equal{
    width: 127px;
    color: rgb(23, 163, 23);
}

.rest, .divition, .multiply, .minus, .sum{
    color: red;
}
#dark-mode, #light-mode{
    width: 40px;
    height: 26px;
}
#dark-mode{
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
}
#light-mode {
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
}
#dark-mode img, #light-mode img{
    width: 20px;
    align-items: center;
}
#upper-buttons{
    display: flex;
    justify-content: end;
    padding: 8px;
    height: 26px;
}
#calc-switch-mode-container{
    
}
#current-calcs input{
    background-color: rgb(105, 24, 24);
    border: 0;
    width: 100%;
    box-sizing: border-box;
    text-align: right;
    color: white;
}
#remaining-calcs div{
    height: 20px;
}